{% extends "site_base.html" %}
{% load house_tags people_tags %}


{% block head_title %}{{ glosowanie.tytul }}{% endblock %}



{% block leftcolumn %}

<p class="breadcrumbs">
    <a href="{% url house_posiedzenia %}">posiedzenia</a> &raquo;
    <a href="{{ glosowanie.punkt.posiedzenie.get_absolute_url }}">posiedzenie {{ glosowanie.posiedzenie.tytul }}</a> &raquo;
    {% if glosowanie.punkt %}
        <a href="{{ glosowanie.punkt.get_absolute_url }}">punkt {{ glosowanie.punkt.nr}}: {{ glosowanie.punkt.tytul }}</a> &raquo;
    {% endif %}
</p>
<h1>{{ glosowanie.tytul }}</h1>

<p></p>


<div class="vote-buttons">
<form method="post" 
	action="
		{% if my_vote.vote == 1 %}
			{% url people_unvote glosowanie.id %}
		{% else %}
			{% url people_vote glosowanie.id %}
		{% endif %}">
	<input type="hidden" name="vote" value="1" />
	{% csrf_token %}
	<button class="aye{% if my_vote.vote == 2 %} inactive{% endif %}">
		{% if my_vote.vote == 1 %}<div class='comment'>głosujesz</div>{% endif %}
		za
	</button>
</form>

<form method="post" 
	action="
		{% if my_vote.vote == 2 %}
			{% url people_unvote glosowanie.id %}
		{% else %}
			{% url people_vote glosowanie.id %}
		{% endif %}">
	<input type="hidden" name="vote" value="2" />
	{% csrf_token %}
	<button class="nay{% if my_vote.vote == 1 %} inactive{% endif %}">
		{% if my_vote.vote == 2 %}<div class='comment'>głosujesz</div>{% endif %}
		przeciw
	</button>
</form>
</div>
{% endblock leftcolumn %}


{% block rightcolumn %}
<p><a class="sejmometr" href='{{ glosowanie.sejmometr_url }}' target='_blank'>
    Głosowanie w Sejmometrze
</a></p>

{% if glosowanie.punkt.druki.exists %}
<h3>Druki:</h3>
<ul class="blinken">
    {% for druk in glosowanie.punkt.druki.all %}
    <li>{% druk_link druk %}</li>
    {% endfor %}
</ul>
{% endif %}


{% voting_on glosowanie %}

{% endblock rightcolumn %}
