{% extends "site_base.html" %}
{% load url from future %}
{% load house_tags people_tags %}


{% block head_title %}{{ klub.nazwa }} ({{ klub.skrot }}){% endblock %}


{% block leftcolumn %}
<p class="breadcrumbs">
    <a href="{% url 'people_ranking' %}">posłowie i posłanki</a> &raquo;
</p>
<h1>{{ klub.nazwa }} ({{ klub.skrot }})</h1>

<h2>Ranking posłów i posłanek klubu</h2>

<ol class="blinken text">
	{% for d, r in deputys %}
		<li>{% posel_link d r %} </li>
	{% endfor %}
</ol>
{% endblock leftcolumn %}


{% block rightcolumn %}
<p><a href="{{ klub.sejmometr_url }}" target="_blank">{{ klub.nazwa }} w&nbsp;Sejmometrze.</a></p>
<h3>Zgodność:</h3>
{% rating_long rating %}
{% endblock rightcolumn %}
