{% extends "site_base.html" %}
{% load people_tags %}


{% block head_title %}{{ posel }}{% endblock %}


{% block leftcolumn %}
<p class="breadcrumbs">
    <a href="{% url people_ranking %}">posłowie i posłanki</a> &raquo;
    {% if posel.klub %}
        <a href="{{ posel.klub.get_absolute_url }}">{{ posel.klub.skrot }}</a> &raquo;
    {% endif %}
</p>
<h1>{{ posel }}</h1>
{% if posel.klub %}
	<p>Klub: <a href='{{ posel.klub.get_absolute_url }}'>{{ posel.klub }}.</a></p>
{% endif %}
{% endblock leftcolumn %}


{% block rightcolumn %}
<p><a href="{{ posel.sejmometr_url }}" target="_blank">{{ posel }} w Sejmometrze</a></p>
<h3>Zgodność:</h3>
{% rating_long rating %}
{% endblock rightcolumn %}
