{% extends "site_base.html" %}
{% load house_tags %}


{% block head_title %}Posiedzenie {{ posiedzenie.tytul }}{% endblock %}


{% block leftcolumn %}
<p class="breadcrumbs">
    <a href="{% url house_posiedzenia %}">posiedzenia</a> &raquo;
</p>
<h1>Posiedzenie {{ posiedzenie.tytul }}</h1>

<h2>Punkty porządku obrad</h2>
<ul class="blinken text">
{% for p in punkty %}
    <li>{% punkt_link p %}</li>
{% endfor %}
</ul>

{% if glosowania %}
<h2>Głosowania poza punktami</h2>
<ul class="blinken text">
{% for p in glosowania %}
    <li>{% glosowanie_link p %}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock leftcolumn %}


{% block rightcolumn %}
<p><a href='{{ posiedzenie.sejmometr_url }}' target='_blank'>Posiedzenie w Sejmometrze.</a></p>
{{ posiedzenie.data_start}} – {{posiedzenie.data_stop}}
{% endblock rightcolumn %}
