{% extends "site_base.html" %}
{% load url from future %}
{% load house_tags %}


{% block head_title %}Posiedzenie {{ posiedzenie.tytul }}{% endblock %}


{% block leftcolumn %}
<p class="breadcrumbs">
    <a href="{% url 'house_posiedzenia' %}">posiedzenia</a> &raquo;
</p>
<h1>Posiedzenie {{ posiedzenie.tytul }}</h1>

<h2>Punkty porządku obrad:</h2>
{% punkt_list punkty %}

{% if glosowania %}
<h2>Głosowania poza punktami:</h2>
{% glosowanie_list glosowania %}
{% endif %}

{% endblock leftcolumn %}


{% block rightcolumn %}
<p><a href='{{ posiedzenie.sejmometr_url }}' target='_blank'>Posiedzenie w&nbsp;Sejmometrze.</a></p>
<p>{{ posiedzenie.data_start}} – {{posiedzenie.data_stop}}</p>
{% endblock rightcolumn %}
