{% extends "site_base.html" %}


{% block head_title %}Punkt: {{ punkt.tytul }}{% endblock %}


{% block body %}

<p class="breadcrumbs">
    posiedzenia &raquo;
    <a href="{{ punkt.posiedzenie.get_absolute_url }}">posiedzenie {{ punkt.posiedzenie.tytul }}</a> &raquo;
</p>
<h1>Punkt {{ punkt.nr }}: {{ punkt.tytul }}</h1>

<p><a href='{{ punkt.sejmometr_url }}' target='_blank'>Punkt w Sejmometrze.</a></p>

<ul>
{% for g in glosowania %}
    <li><a href="{{ g.get_absolute_url }}">{{ g.tytul }}</a></li>
{% endfor %}
</ul>


{% endblock %}
