{% extends "site_base.html" %}
{% load url from future %}
{% load avatar_tags %}
{% load house_tags people_tags %}

{% block full_title %}Sejm 2.0{% endblock %}

{% block body %}

<section id="what">
    <h1>Kto w Sejmie głosuje po Twojej myśli?</h1>

    {% spaceless %}
    <a class="kafel" href="{% url 'house_glosowania' %}">
        <div class="insight">Wyraź swoje zdanie.</div>
        <div class="cta"><strong>Zagłosuj</strong>razem z Sejmem!</div>
        <div class="desc">Oceniaj konktretne głosowania, nie hasła i deklaracje polityków.</div>
        <div class="more">(Co mogę ocenić?)</div>
    </a>

    <a class="kafel" href="{% url 'people_users' %}">
        <div class="insight">Nie musisz śledzić wszystkiego.</div>
        <div class="cta"><strong>Zaufaj</strong> innym użytkownikom!</div>
        <div class="desc">Nikt nie zna się sam na wszystkim.
            Dlatego możesz uwzględnić oceny innych użytkowników, do których masz zaufanie.</div>
        <div class="more">(Na przykład czyje?)</div>
    </a>

    <a class="kafel" href="/jak/">
        <div class="insight">Sprawdź ich!</div>
        <div class="cta"><strong>Dowiedz się</strong> którzy posłowie głosują<br/>zgodnie z Twoimi poglądami.</div>
        <div class="desc">Otrzymasz ranking posłów i posłanek według zgodności z Twoimi ocenami.</div>
        <div class="more">(Jak to działa?)</div>
    </a>

    {% endspaceless %}
    <div class='cl'></div>
</section>


<section id="main-users">
<h2>Aktywni użytkownicy</h2>
{% users_list users %}
<p><a href="{% url 'people_users' %}" class="see-more">Więcej użytkowników</a></p>
</section>


<section id="main-votings">
<h2>Popularne głosowania</h2>
{% glosowanie_list glosowania %}
<p><a href="{% url 'house_glosowania' %}" class="see-more">Więcej głosowań</a></p>
</section>


<section id="main-sessions">
<h2>Przeglądaj posiedzenia</h2>
<ul class="blinken text">
{% for p in posiedzenia %}
    <li>{% posiedzenie_link p %}</li>
{% endfor %}
</ul>
<p><a href="{% url 'house_posiedzenia' %}" class="see-more">Wszystkie posiedzenia</a></p>
</section>


{% endblock %}
