{% extends "site_base.html" %}

{% block head_title %}Usuń obrazy{% endblock %}

{% block body %}
    <p>Wybierz obrazy, które chcesz usunąć.</p>
    {% if not avatars %}
        <p>Nie masz żadnych obrazów do usunięcia. <a href="{% url avatar_change %}">Załaduj jakiś</a>.</p>
    {% else %}
        <form method="POST" action="">
            {% csrf_token %}
            <ul>
                {{ delete_avatar_form.as_ul }}
            </ul>
            <input type="submit" value="Usuń wybrane" />
        </form>
    {% endif %}
{% endblock %}